body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  width: 600px;
  margin: 20px auto;
  text-align: center;
}

.wrapper {
  width: 396px;
  height: 396px;
  margin: auto;
  cursor: pointer;
}

.cell {
  float: left;
  width: 130px;
  height: 130px;
  line-height: 130px;
  background-color: #eaeaea;
  border: 1px solid #7a7d7d;
  text-align: center;
  vertical-align: middle;
  font-size: 5em;
  font-family: sans-serif;
}

.top-buffer {
  margin-top: 20px;
}

.vertical-align {
  display: flex;
  align-items: center;
}
.player-type {
  /*text-align: left;*/
  /*width: 50%;*/
  /*margin: 0 auto;*/
}
.instructions {
  font-style: italic;
  font-size: .9em;
  margin-bottom: 10px;
}

.player {
  margin: 20px 0;
}

.start-game {
  margin-top: 30px;

}

div .p1 {
  color: rgba(64, 208, 244, 0.94);
}

div .p2 {
  color: rgba(248, 6, 147, 0.84);
}
